#map {
    position: absolute;
    width: 1350;
    height: 800;
}

#drone {
    position: absolute;
    width: 4%;
    height: 6%;
    left: 150;
    top: 25;
    transition: 2s;
}

#button {
    position: absolute;
    left: 1280;
    top: 10;
}
